@model Code2Night.DAL.Common.MyBlogs
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> List = new List<string>();
    foreach (var item in Model.BlogsList.Where(x => x.Tags != null).Select(x => x.Tags.Split(',')).ToList())
    {

        foreach (var tag in item)
        {
            List.Add(tag.Trim());
        }

    }
    ViewBag.Title = Model.MyBlog.Title + " | Code2night.com";
    ViewBag.MetaDescription = Model.MyBlog.BlogIntroduction;
    ViewBag.MetaKeywords = "Code2Night,Code,Programming,Tutorials," + string.Join(",", List);
    ViewBag.Canonical = "https://www.code2night.com/Blog/MyBlog/" + Model.MyBlog.BlogUrl;

    ViewBag.OpenGraphUrl = "https://www.code2night.com/Blog/MyBlog/" + Model.MyBlog.BlogUrl;
    ViewBag.OpenGraphDescription = Model.MyBlog.BlogIntroduction;
    ViewBag.OpenGraphTitle = Model.MyBlog.Title;
    //var tags = Model.MyBlog.BlogBody.Split("<pre>").ToList().Select(x=>x.Split("</pre>"));
    //List<string> list = new List<string>();
    //foreach(var tag in tags)
    //{
    //    list.AddRange(tag);
    //}


}
<script data-ad-client="ca-pub-2622840091485569" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script id="dsq-count-scr" src="//codetonight.disqus.com/count.js"></script>


<style>
    <!-- page-title end -->
    pre > code {
        position: relative;
        display: none;
    }
    .CodeArea {
        border: 1px solid #e84c3d;
        padding: 10px 12px 10px 0px;
        border-radius: 7px;
    }
    pre > pre {
        padding-left: 14%;
    }
   
    .CodeMirror-selected {
        background-color: #ffffff;
        color: white !important
    }

    .CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        border-width: 0;
        background: transparent;
        font-family: inherit;
        font-size: inherit;
        margin: 0;
        white-space: pre;
        word-wrap: normal;
        line-height: inherit;
        color: inherit;
        z-index: 2;
        position: relative;
        overflow: visible;
        -webkit-tap-highlight-color: transparent;
        -webkit-font-variant-ligatures: contextual;
        font-variant-ligatures: contextual;
    }
</style>
<script type="application/ld+json">
    {
    "@@context" : "http://schema.org",
    "@@type" : "Article",
    "name" : "@Model.MyBlog.Title",
    "headline" : "@Model.MyBlog.Title",
    "url" : "https://www.code2night.com/Blog/MyBlog/@(@Model.MyBlog.BlogUrl)",
    "author" : {
    "@@type" : "Person",
    "name" : "@Model.MyBlog.AuthorName"
    },
    "datePublished" : "@Model.MyBlog.Date.ToString("yyyy-MM-dd")",
    "articleSection" : "@Model.MyBlog.BlogIntroduction",
    "articleBody" : "@Model.MyBlog.BlogIntroduction",
    "publisher" : {
    "@@type" : "Organization",
    "name" : "Code2night"
    }
    }
</script>

<style>
    pre {
        padding: 10px 16px;
        border-radius: 2px;
    }

        pre p {
            display: block;
            line-height: 1.5rem;
            counter-increment: line;
        }

            pre p:before {
                content: counter(line);
                display: inline-block;
                border-right: 1px solid #ddd;
                padding: 0 .5em;
                margin-right: .5em;
                color: #888
            }

    #disqus_thread {
        overflow: hidden;
    }

    iframe {
        margin-bottom: -54px;
    }
</style>

<style>
    /*  .articleactive {
        background-color: #efefef !important;
    }

    .code-panel {
        padding: 1.1rem 1.25rem 0 1.25rem;
        background-color: #fff;
        border: 1px solid #2590e3;
        border-radius: 0;
        margin-bottom: 1.25rem;
    }*/

    pre {
        background-color: transparent !important;
        border: 0px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding: 0px !important;
        padding-left: 2% !important;
        color: white !important;
        min-height: 28px !important;
    }

    .CodeMirror-linenumbers, .CodeMirror-linenumber {
        background-color: #282a36 !important;
        z-index: 99999;
        color: white !important;
       /* padding: 8px;*/
    }
    .CodeMirror {
        border: 1px solid #eee;
        height: auto !important;
    }
   /* pre, code {
        white-space: pre-line;
    }*/
    /*.articlefont {
        font-size: 16px !important;
        line-height: 31px;*/
    /* text-align: justify; */
    /*font-family: Verdana,sans-serif,Geneva !important;
        color: #000 !important;
        background: transparent;
    }

    h1, h2, h3 {
        font-family: "Segoe UI",Verdana,sans-serif !important;
        font-weight: 400 !important;
        line-height: 1.2 !important;
        color: #181717 !important;
    }*/

</style>
<link href="/codemirror.css" rel="stylesheet" />
<script src="/codemirror.js"></script>
<script src="~/JavaScript.js"></script>
@*<link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
    </link>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js">
    </script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.min.js">
    </script>*@

<link href="~/draculla.css" rel="stylesheet" />
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="@Url.Action("Index","User")">Home</a></li>
                    <li class="active">Blogpost</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="main col-md-8" style="overflow-x:hidden" itemscope itemtype="http://schema.org/Blog">

                <h1 class="page-title" itemprop="headline">@Model.MyBlog.Title</h1>
                <article class="clearfix blogpost full">

                    <div class="blogpost-body">
                        <div class="side">
                            <div class="post-info" itemprop="datePublished">
                                <span class="day">@Model.MyBlog.Date.ToString("dd")</span>
                                <span class="month">@Model.MyBlog.Date.ToString("MMM")<br />@Model.MyBlog.Date.ToString("yyyy")</span>
                            </div>
                            <div id="affix">
                                <span class="share">Share This</span><div id="share">
                                    <div id="share" class="sharrre">
                                        <ul class="social-links clearfix">
                                            <li class="facebook"><a itemprop="url" href="http://www.facebook.com/sharer.php?u=https://code2night.com/Blog/MyBlog/@(Model.MyBlog.BlogUrl)" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a itemprop="url" href="http://twitter.com/share?url=https://code2night.com/Blog/MyBlog/@(Model.MyBlog.BlogUrl)&text=@(Model.MyBlog.Title)&via=code2night" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li class="twitter"><a itemprop="url" href="http://reddit.com/submit?url=https://code2night.com/Blog/MyBlog/@(Model.MyBlog.BlogUrl)&title=@(Model.MyBlog.Title)" target="_blank"><i class="fa fa-reddit-alien"></i></a></li>
                                            <li class="twitter"><a itemprop="url" href="http://www.tumblr.com/share/link?url=https://code2night.com/Blog/MyBlog/@(Model.MyBlog.BlogUrl)" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                            <li class="twitter"><a itemprop="url" href="http://www.linkedin.com/shareArticle?mini=true&url=https://code2night.com/Blog/MyBlog/@(Model.MyBlog.BlogUrl)&title=Code2Night" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blogpost-content" style="word-break:break-word">
                            <header>
                                <div class="submitted">
                                    <i class="fa fa-user pr-5"></i> by <a itemprop="author" href="/Blog/Author/@Model.MyBlog.AuthorId-@Model.MyBlog.AuthorName">@Model.MyBlog.AuthorName</a>
                                    <a style="
    color: black;
    margin-left: 16px;
"><i class="fa fa-eye"></i><p itemprop="interactionCount" style=" display: inline-block; margin-left: 6px;">@Model.MyBlog.TotalView</p></a>
@if (!string.IsNullOrEmpty(Model.MyBlog.Document))
{
    <i class="fa fa-download pr-5" style="margin-left:10px"></i> <a download="" href="~/Uploads/BlogDocs/@Model.MyBlog.Document"> Download Attachments</a>
}
</div>
</header>
@if (Model.MyBlog.VideoEmbed != null)
{
    <div class="embed-responsive embed-responsive-16by9">
        @Html.Raw(Model.MyBlog.VideoEmbed)
    </div>
}
<div>
    <p itemprop="articleBody">
        @Html.Raw(Model.MyBlog.BlogBody)
    </p>
</div>
</div>
</div>

<footer class="clearfix" style="margin-bottom:10px">
    <ul class="links pull-left">
        <li><i class="fa fa-comment-o pr-5"></i><a href="~/Blog/MyBlog/@Model.MyBlog.BlogUrl#disqus_thread"></a> |</li>
        <li itemprop="keywords">
            <i class="fa fa-tags pr-5"></i>
            @if (Model.MyBlog.Tags != null)
            {
                foreach (var str in Model.MyBlog.Tags.Split(',').ToList())
                {
                    <a itemprop="url" href="~/Blog/Tags/@str">@str.Replace("-", " ") @(Model.MyBlog.Tags.Split(',').ToList().IndexOf(str).Equals(Model.MyBlog.Tags.Split(',').ToList().Count - 1) ? "" : ",")</a>
                }
            }
        </li>
    </ul>
</footer>

</article>

<div id="mycmnt">
    <h2 class="title">Comments</h2><div id="disqus_thread"></div>
    <script>

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://codetonight.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript> <a href="https://disqus.com/?ref_noscript"></a></noscript>
</div>
</div>
<!-- main end -->
<!-- sidebar start -->
<aside class="col-md-3 col-md-offset-1">
    <div class="sidebar">
        <div class="block clearfix">
            <h3 class="title">Tags</h3>
            <div class="separator"></div>
            <div class="tags-cloud">
                @foreach (var str in List.Distinct().ToList())
                {
                    <div class="tag" itemprop="keywords">
                        <a href="~/Blog/Tags/@str">@str.Replace("-", " ")</a>
                    </div>
                }
            </div>

        </div>
    </div>
</aside>
</div>
</div>
<div class="col-md-12" style="overflow:hidden">
    <div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- DETAIL -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2622840091485569"
             data-ad-slot="3445995263"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
<script id="dsq-count-scr" src="//codetonight.disqus.com/count.js" async></script>
<script src="~/JavaScript.js"></script>
<script>
    $(document).ready(function () {
        $('pre').each(function (index, elem) {
            $(elem).wrap('<div class="CodeArea"></div>');
            var ce = $(elem).find('code').html().replace(/&gt;/g, ">").replace(/&lt;/g,'<').trim();
            $(elem).find('code').remove();
            //$(elem).html('');
            // Probably needs more kludges to be portable... you get the idea
            //var text = elem.textContent || elem.innerText;
            //var editor = CodeMirror(function (node) { elem.parentNode.replaceChild(node, elem); }, {
            //    value: text,
            //    matchBrackets: true,
            //    autoCloseBrackets: true,
            //    mode: "javascript",
            //    lineWrapping: true,
            //    lineNumbers: true,
            //    /* , your options */
            //});
            //var config, editor;

            //config = {
            //    lineNumbers: true,
            //    mode: "text/javascript",
            //    lineWrapping: true,
            //    htmlMode: true,
            //    matchClosing: true,
            //    indentWithTabs: true,
            //    readOnly: true
            //};

            var editor = CodeMirror(elem, {
                matchBrackets: true,
                autoCloseBrackets: true,
                mode: "javascript",
                lineWrapping: false,
                lineNumbers: true,
                value: ce,
                styleActiveLine: true,
                htmlMode: true,
                indentWithTabs: true,
                smartIndent: true,
                viewportMargin: Infinity
            });
          
        //    //editor.setSize("100%", "300");
            editor.setOption("theme", "dracula");
        //    //  var textArea = document.createElement('textarea');
        //    // textArea.innerHTML = $(elem).find('.CodeMirror').text();
        //   //html($(textArea).html());
        //    //  $(elem).find('.CodeMirror').remove();
        //    // $(elem).html('<code class="language-csharp">' + $(elem).html()+'</code>')
        //    //$(elem).addClass('language-csharp');
        //    //$('pre').each(function (index, elem) {
        //    //    if ($(elem).text().replace(/ /g, '') == "")
        //    //        $(elem).remove();
        //    //});
        //    //editor.refresh();

        //    //var html = $(elem).find('.CodeMirror').html();
        //    //$(elem).html(html);
        //});


    });
    //function wrapNode(node) {
    //    $(node).replaceWith("<p>" + node.textContent + "</p>");
    //}
    //document.addEventListener('DOMContentLoaded', (event) => {

    //    $('pre').each(function (index, elem) {
    //        var d = $(this)[0];
    //        for (var i = 0; i < d.childNodes.length; i++) {
    //            if (d.childNodes[i].nodeType === 3 &&
    //                d.childNodes[i].textContent.replace(/^\s+|\s+$/g, "")) {
    //                wrapNode(d.childNodes[i]);
    //            }
    //        }

    //       // var lines = $(this).text().split('\n');
    //       // var paras = '';
    //       // $.each(lines, function (i, line) {
    //       //     // $(line).wrap('<p></p>');
    //       //     if (line && line.indexOf('<input')==-1) {
    //       //         paras += '<p>' + line + '</p>';
    //       //     }
    //       // });
    //       // paras.replace(/[\r\n]+/g, '\n');
    //       //// $(this).html('');
    //       //// $(this).append(paras);
    //       //$(this).html(paras);
    //    });
    });
</script>
</section>